@import './base.css';

#app {
  /*max-width: 1280px;*/
  /*padding: 2rem;*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /*display: flex;*/
    /*place-items: center;*/
  }

  #app {
    /*padding: 2rem;*/
  }
}

code {
  border-radius: 10px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 14px;
  margin: 20px 0;
}
h2 {
  border-bottom: 1px solid #eee;
  width: 100%;
  font-weight: bold;
}
h3 {
  margin-top: 10px;
  font-weight: bold;
}
.sub-important {
  color: gray;
}
.content {
  padding: 20px 0;
  font-size: 16px;
  line-height: 30px;
}
.item-active {
  color: hsla(160, 100%, 37%, 1) !important;
}
.content-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}
.bgc {
  background-color: #ECEDF0;
  padding: 5px;
  border-radius: 5px;
}
.bgc-point {
  background-color: #c0c4cc;
  padding: 5px;
  border-radius: 5px;
}
.attention {
  background-color: #EEF0F0;
}

.blue {
  background-color: #E2ECFD;
}

.attention, .blue {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
